/* CSS homepage(index.html)*/

body{
    font-size:18px;
    font-family: "Verdana";
}

.sezione-one{
    padding-top:200px;
}

.title{
    color:white;
    font-size:50px;
    margin-top:0;
}

.sub-title{
    color:white;
    font-size:22px;
}

.navbar-default{
    margin-bottom:0px;    
}

.navbar-brand{
    margin-left: 10px;
}

.nav-mr{
    margin-right: 10px;
}

.step-one{
    text-align: center;
    background-color: rgba(0, 120, 150, 200);
    height:600px;
}